/venv/
/multi_paster.ahk
/input.txt
/daily_template.txt
/relevant_methods_2021_02.xlsx
/~$relevant_methods_2021_02.xlsx
/data_transfer/instapaper_credentials.json
/daylio/daylio_export_2024_03_29.csv
/astrology/semo_18.se1
/astrology/sepl_18.se1
/astrology/ephemeris/semo_18.se1
/astrology/ephemeris/sepl_18.se1
/astrology/birthdata.txt
